@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-source-sans-pro);
  --font-display: var(--font-playfair-display);

  --color-primary: #f16423;
  --color-secondary: #edece8;
  --color-background-dark: #193a47;
  --color-background-light: #edece8;
}

body {
  font-family: var(--font-source-sans-pro), sans-serif;
}
